<html>

<head>
</head>

<body ng-app='app' ng-controller="controller">
    <div id="divSPChrome" style="visibility:collapse;"></div>
    <div class="lsPeople" ls-People ng-model="taskAssignees" pp-ready-to-load="{{true}}" pp-is-multiuser="{{false}}"
     pp-account-type="User" id="single1"></div>
    <span>{{taskAssignees}}</span>
    <ls-people ng-model="taskAssignees2" pp-is-multiuser='false'></ls-people>
    <span>{{taskAssignees2}}</span>
    <script src="bundle.js"></script>
    <script>
        function chromeLoaded() {
            $('body').show();
        }
    </script>
</body>

</html>